.unity-progress-bar__progress {
    background-color: rgb(255, 0, 202);
}

.unity-progress-bar__background {
    background-color: rgb(128, 0, 0);
    border-left-color: rgb(255, 10, 0);
    border-right-color: rgb(255, 10, 0);
    border-top-color: rgb(255, 10, 0);
    border-bottom-color: rgb(255, 10, 0);
    min-height: 41px;
}

.unity-progress-bar__container {
}
